/* ================= MOBILE SIDEBAR ================= */

@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: -230px;

    width: 230px;
    height: 100vh;

    z-index: 9999;

    transition: left 0.3s ease;
  }

  .sidebar.open {
    left: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;

    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }
}


/* Desktop par hamburger hide rahega */

@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}
